// @import './config';
$color-light-map: map-get($colors, 'light') !default;
$color-dark-map: '' !default;
@if map-has-key($colors, 'dark') {
  $color-dark-map: map-get($colors, 'dark');
}
@import './utility/index';
@import './library/index';